<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TYO - Connexion</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles_login.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Connexion</h1>
            <form method="POST" action="/login">
                <div class="input-container">
                    <label for="username">Nom d'utilisateur:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="input-container">
                    <label for="password">Mot de passe:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="input-container">
                    <label for="twofa_code">Code 2FA:</label>
                    <input type="text" name="twofa_code" id="twofa_code" required>
                </div>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</body>
</html>
